@charset "UTF-8";
section{
	display: flex;
	width: 100vw;
	height: 100%;
}
/* 높이 설정 어떻게?? 기본, 스크롤시..*/
.side{
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 100vh;
	background-color: lightyellow;
}

.search{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 20%;
}

.search>form{
	position: relative;
	top: 10vh;
	height: 10vh;
}

.search input{
	max-width: 200px;
	min-width: 150px;
	width: 15vw;
	border: 0;
	border-bottom: thin solid;
	background-color: transparent;
}

.search_nav{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 25%;
}

.search_nav>a{
	display: block;
	position: relative;
	left: 3vw;
	font-size: 1.3em;
}

.form_level_distance{
	display: flex;
	flex-direction: column;
}

.wrap_level{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-title{
	position: relative;
	top: 3vw;
	left: 3vw;
	font-size: 1.2em;
	font-weight: bolder;
}

.level-list{
	position: relative;
	left: 3vw;
	top: 5vw;
	width: 100%;
}

.level-list input{
	width: 3vw;
}

.level-list label{
	font-size: 1.1em;
}

.wrap_round_trip_time{
	position: relative;
	top: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rt-title{
	position: relative;
	top: 6vw;
	left: 3vw;
	font-size: 1.2em;
	font-weight: bolder;
}

.rt-list{
	display: flex;
	flex-direction: column;
	position: relative;
	left: 3vw;
	top: 8vw;
	width: 100%;
}

.rt-list input{
	margin-bottom: 2vw;
	width: 3vw;
}

.rt-list label{
	font-size: 1.1em;
}

.submit{
	position: relative;
	left: 3vw;
	position: relative;
	top: 12vw;
}

.submit>button{
	font-size: 1.1em;
}

.main{
	width: 80vw;
}

.title{
	position: relative;
	top: 5vh;
	text-align: center;
	width: 100%;
	height: 10vh;
	font-size: 2em;
	font-weight: bolder;
}

.map{
	position: relative;
	top: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40vh;
}

#map{
	min-width: 350px;
	max-width: 560px;
	min-height: 250px;
	max-height: 400px;
	width: 70vw;
	height: 40vh;
}


.hashtag{
	position: relative;
	top: 5vh;
	width: 100%;
	height: 10vh;
}

.hashtag>div{
	position: relative;
	left: 5vw;
	width: 70vw;
	height: 10vh;
	text-align: center;
}

.hashtag span{
	position: relative;
	top: 1vw;
	font-size: 1.5em;
}

.mountain_list{
	position: relative;
	top: 5vh;
	width: 100%;
}

.mt_list_table{
	position: relative;
	left: 5vw;
	width: 70vw;
}

td{	
	padding-top: 2vh;
	width: 14vw;
	height: 15vh;
}



td>img{
	width: 10vw;
	height: 10vw;
}


