@charset "UTF-8";
.allwrap{
	clear: both;
	padding-top : 50px;
	width : 1200px;
	margin : auto;
}

/* leftside css*/
.side{
	border-radius: 20px;
	float : left;
	width: 25%;
	height: 400vh;
	background-color: #f8ffd7;
	margin-right : 20px;
}

/* 검색창 */
.search{
	margin-top: 80px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 20%;
}

.search input{
	max-width: 150px;
	width: 15vw;
	border: 0;
	border-bottom: thin solid;
	background-color: transparent;
}


/* 난이도 */
.wraplevel{
	text-align: center;
	margin : 80px;
}

.level-title, .rt-title, th{
	font-size: 1.3em;
	font-weight: bolder;
	margin-bottom : 3vw;
}

.wraptime{
	text-align: center;
	margin : 80px;
	
}


/* table */
table {
	margin-top : 10px;
	border: 2px dashed yellowgreen !important;
    border-radius: 40px !important;
    border-spacing: 20px;
    border-collapse: separate;
}

table td {
	padding-top : 50px;
	text-align: center;
	width: 14vw;
	height: 15vh;
}

table td img{
	width: 10vw;
	height: 10vh;
}
table td img:hover{
	transform: scale(1.2);  
}

/* map */
#map{
	min-width: 350px;
	max-width: 560px;
	min-height: 250px;
	max-height: 400px;
	width: 70vw;
	height: 40vh;
	margin : auto;
	margin-top: 30px; 
}

/* 모달창 */
       .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal.show {
        display: block;
      }

      .modal_body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 600px;
        padding: 40px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
      }
      
      .modal_body ul{
	    list-style: none;
	    margin: 0px;
	    padding: 0px;
	    max-width: 250px;
	    width: 100%;
    }
    
       
      .modal_body ul li{
	   padding: 5px 0px 5px 5px;
	    margin-bottom: 5px;
	    border-bottom: 1px solid #efefef;
	    font-size: 12px;
    }
  
  	.btn-open-popup {
  		position : absolute;
  		margin-top : 115px;
  	    margin-left: 67px;
  	    
  	}


