@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #555555;
    --main-color: #c5e1a5;
    --santa-color: #94af76;
    --point-color: #f8ffd7;
    --bg-color: rgb(240, 240, 240);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    position: relative;
}    

 .logo{
overflow: hidden;
text-align: center;
margin-top: 20px;
font-size: 20px;
margin-bottom: 40px;
}
.logo a {
margin: 0 auto;
}
.logo .log_Pw{
margin-left: 100px;
height: 28px;
}
.logo .logPw{
float: right;
padding-right: 20px;
}

.login{
float: right;
margin-top: 20px;
}
.login a{
padding: 30px;
}
.photo{
overflow: hidden;
}
.photo .prof{
float: right;
padding: 20px;
font-size: 20px;
}


nav{
overflow: hidden;
background-color: rgb(40, 180, 82);
position: relative;
height: 70px;
overflow: hidden;
}
nav .nav_div{
float: left;
margin-left: 800px;
height: 70px;
width: 525px;
}
nav .nav_but{
width: 100px;
height: 50px;
margin: 10px;

}
.team{
background-color: black;
height: 70px;
overflow: hidden;
}
.team a{
float: left;
color: white;
padding-top: 30px;
padding-left: 200px;
font-size: larger;
}
.bell{
float: right;
}
.bell a{
padding-top: 30px;
padding-right: 50px;
padding-left: 50px;
}
#the_day{
overflow: hidden;
margin-right: 700px;
}
#the_day div{
float: right;
}
#room_maker{
margin-left: 150px;
float: left;
}
#room_info{
width: 400px;
float: left;
height: 500px;
}
#room_info li{
list-style: none;
width: 300px;
margin-left: 600px;
padding: 10px;
}
#plan_info{
margin-top: 100px;
height: 150px;
}
#div_content{
margin-left: 40px;
}
#input_content{
width: 700px;
border: none;
font-size: xx-large;
color: palegreen;
background-color: white;
}
#hr{

width: 500px;
height: 5px;
}

.wrap {
    margin: 0 auto;
    display: flex;
   flex-direction: column;
   align-items: center;
    position: relative;
    width: 700px;
    height: 500px;
    background-color: rgb(40, 180, 82);
    opacity: 0.9;
}


#two_anchor{
position: absolute;
margin-left: 100px;
}

#the_day  {
position: absolute;
top: 0;
left: 500px;
}  