a{
   color:black;   
  }
button{
  border:none;
  background-color: white;
}
  
#main{
  width: 100%;
  height: 150px;
}
.hidden1{
  visibility: visible;/*visible  hidden*/
}
#section1{
  width: 100%;
  height: 1500px;
}
.mypage_header{
  display: flex;
  width: 1000px;
  height: 40px;
 /* border: 1px solid rgb(122, 37, 202);*/
  letter-spacing:-.2px;
  margin:0 auto;
}
.my_nav_item_margin1{
  height: 100%;
  width: 20%;
  /*border: 1px solid rgb(122, 37, 202);*/
}
.my_nav_item_margin2{
  display: flex;
  height: 100%;
  width: 60%;
  margin-top: 10px;
 /* border: 1px solid rgb(122, 37, 202);*/
}
.my_nav_item_margin3{
  height: 100%;
  width: 20%;
 /* border: 1px solid rgb(122, 37, 202);*/
}
#my_nav_item1{
  height: 100%;
  width: 25%;
 /* border: 1px solid rgb(122, 37, 202);*/
  text-align: center;
}
#my_nav_item2{
  height: 100%;
  width: 25%;
 /* border: 1px solid rgb(122, 37, 202);*/
  text-align: center;
}
#my_nav_item3{
  height: 100%;
  width: 25%;
 /* border: 1px solid rgb(122, 37, 202);*/
  text-align: center;
}
#my_nav_item4{
  height: 100%;
  width: 25%;
  margin-left:28px;
/*  border: 1px solid rgb(122, 37, 202);*/
  text-align: center;
}

.mypage_section{
  display: flex;
  width: 1350px;
  height: 100%;
  position:relative;
  padding:20px 30px;
  letter-spacing:-.2px;
  margin:0 auto;
}


.mypage_profile{
  display: inline-block;
  margin-top:70px;
  width: 300px;
  height: 700px;
}
.my_profile_padding{
  padding:20px 35px;
}
.my_profile1{
  width:230px;
  height:320px;
  border: 1px solid grey;
  margin : 0px 0px 50px 0px;
}
#selfie{
  margin-top:10px;
  margin-left:14px;
  width:200px;
  height: 200px;
  border: 1px solid grey;
  background-image: url(https://ilyo.co.kr/contents/article/images/2015/0518/1431937926826180.jpg);
  background-size:cover;
}
#my_introduce{
  margin-left:15px;
  margin-top:10px;
  width:200px;
  height: 90px;
}
#my_introduce_id_padding{
  display: flex;
  width:200px;
}
#my_introduce_id{
  width:100px;
  font-size: 15px;
  margin-left:10px;
  margin-bottom:5px;

}
#my_introduce_edite{   /* comment버튼 */
  color:gray;
  border-color: lightgray;
  width:50px;
  height: 15px;
  font-size:9px;
  margin-left:10px;
}

#my_introduce_comment{ /* comment내용 */
  margin-top:5px;
  margin-left:10px;
  font-size:15.5px;
  width:168px;
  height:40px;
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:2;
}



.my_profile2{
  border: 1px solid grey;
  width:230px;
  height:230px;
  margin : 0px 0px 35px 0px;
  padding: 2px 2px 2px 2px;
}
#my_wish_mountian{
  margin-top:18px;
  margin-left:25px; 
  width:170px;
  height: 30px;
  font-size:20px;
}
#my_wish_mountian_list{
  width:200px;
  height: 170px;
  margin: 0px 10px 0px 10px;
}
#my_wish_mountian_list_item{
  margin-top:10px;
  margin-left:40px; 
  width:180px;
  height: 125px;
  font-size:17px;
}
#my_wish_input{
  margin-left:50px; 
  margin-top:5px;
  width:150px;
  height: 25px;
}
#search_button{
  background-color: white;
  font-size:15px;
  border-color: white;
  border-radius: 80%;
  width: 19px;
}



.mypage_board{
  width: 800px;
  height: 1000px;
}
.mypage_board2{
  width: 1000px;
  height: 1100px;
  
}

.board_write_title{
  margin-left: 150px;
  width: 520px;
  height: 70px;
}
.board_write_title2{
  width: 600px;
  height: 70px;
  margin-left:200px; /* 게시글 제목 가운데정렬*/
}
#board_write_title_item{
  text-align: center;
  margin-top:30px;
  margin-left:30px;
  margin-right:30px;
  font-size:22px;
  font-weight: bolder;
}

.board_add{           /* 게시글 작성하기 버튼*/
  margin-left:700px;
  width: 130px;
  font-size:16px;
}
.board_write_content2{
  margin-top:20px;
  margin-left: 50px;
  width: 900px;
  height: 120px;    /* 게시물이 늘어날때마다 height 600씩 증가 */
}
.board_write_content{
  margin-top:100px;
  margin-left: 150px;
  width: 520px;
  height: 600px;
}
.board_content_item{
  border: 1px solid black;
  margin-top: 100px;
  margin-left: 50px;
  width: 800px;
  height: 450px;
}
.board_content_padding{
  display: flex;
  width: 800px;
  height: 450px;
}
.board_content_picture{
  margin-left:10px;
  width: 400px;
  height: 450px;
}
.board_content_picture_item{
  margin-top : 10px;
  background-size:cover;
  width: 400px;
  height: 400px;
}
.board_content_picture>button{
  width:5px;
  height:5px;
  background-color: white;
  border-radius: 100%;
}
#board_img_button{
  background-color: white;
  font-size:15px;
  width:18px;
  color:grey;
  margin-top:5px;
  border: 1px solid lightgrey;
  border-radius: 30%;
  margin-left:20px;
}
.board_content_side_ment_padding{
  border: 1px solid rgb(240, 239, 239);
  background-color: rgb(240, 239, 239);
  font-size:14px;
  margin-left:22px;
  margin-top: 10px;
  width:340px;
  height:160px;
}
#board_content_side_ment{
  margin :10px 10px 10px 10px;
  width:320px;
  height:140px;
  border: 1px solid white;
}
.board_content_side_item{
  display: flex;
  width:340px;
  margin-left:22px;
  margin-top: 8px;
  height:35px;
}
.board_content_side_item1{  
font-size:17px;
margin-left:20px;
}



.board_content_side_rep_input{
  display: flex;
  width:340px;
  margin-left:22px;
  margin-top: 8px;
  margin-bottom:10px;
  height:30px;
  font-size:16px;
  color:green;
}
.input_id{
  width:80px;
  margin-right:20px;
}
#input_text{
  width:200px;
}
#input_text_submit{   
  margin-left:10px;
}

.board_content_side_rep{
  margin-left:10px;
  overflow-y:scroll;
  overflow-x:hidden;
  width:370px;
  height: 170px;
}
.board_content_side_rep_item{
   display: flex;
   width:310px;
   margin-left:22px;
   margin-top: 5px;
   height:25px;
   border: 1px solid green;
}
.input_content{
  width:200px;
   border: 1px solid red;
}
.input_liked{    /*댓글좋아요.*/

}

.member_edit_form{
   width: 520px;
   height: 650px;
  border: 1px solid lightgrey;
}
.mapage_info_edit{
   margin-top: 20px;
   margin-left:50px;
   width: 400px;
   height: 600px;
}
.mapage_info_edit>label{
   margin-top: 20px;
   margin-left:30px;
}
.mapage_info_edit>input{
   margin-top: 20px;
   margin-right:30px;
}
.mypage_info_edit_form{
  width:390px;
  height:500px;
}
th,td{
  height:60px;
}
.mypage_edit_button{
  display: flex;
  width:300px;
  height:30px;
  margin-top:20px;
  margin-left: 150px;
}
#mypage_edit_exit{
  margin-left:115px;
}

.follow_padding{
  width: 420px;
  height: 70px;
  border: 1px solid lightgrey;
  margin-left:60px;
  margin-bottom:30px;
  
}
.follow_padding{
  display: flex;
  padding: 9px;
}
#follow_member_selfie{
  width:50px;
  height:50px;
  border: 1px solid lightgrey;
  background-image: url(https://news.nateimg.co.kr/orgImg/ae/2020/09/30/ae_1601453283831_40517_0.jpg);
  background-size:cover;
  margin-left:20px;
}
.follow_member2{
  display: flex; 
  padding: 15px;
}
.follow_member_id_padding{
  height:100%;
  width:250px;
}
#follow_member_id{
  font-size:15px;
}
#unfollow_button{
  border: 1px solid rgb(110, 180, 110);
  background-color: rgb(110, 180, 110);
  border-radius: 20%;
  height:25px;
}